body{
    font-family: 'plus jakarta Sans';
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.container{
    flex: 1;
}

.navbar{
    height: 4rem;
    position: sticky;
    top: 10;
    z-index: 1000;
}
.fa-compass{
    color: #fe424f;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links , .f-info-brand,.f-info-social{
    width: 100%;

}
.f-info{
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    height: 6rem;
    align-items: center;
    text-align: center;
}
.f-info-social  {
    font-size: 1.3rem;
    
}
.f-info-social i:hover {
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out ;
    
}
/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
   
}
.card-img-top{
    border-radius:1rem !important ;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text {
    font-weight: 600 !important;
}
.listing-link{
    text-decoration: none !important;
    color: #222222 !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe424f !important;
    border: none !important;
}
/* show page */
.img-show{
    height: 30vh;
}
.btns{
    display: flex;
    margin-left: 12.5rem;
    
}
.card-review-margin{
    margin-right: 10px;
}
#map { 
   height: 400px;
   width: 100vh;
   border-radius: 7px;
}
.card-imaging{
    width: 40rem !important;
}